@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,400&display=swap');

@font-face {
  font-family: 'Gotham-Web';
  src: url('../fonts/gotham/Gotham-Light.otf') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Web';
  src: url('../fonts/gotham/Gotham-Book.otf') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Web';
  src: url('../fonts/gotham/Gotham-BookIta.otf') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham-Web';
  src: url('../fonts/gotham/Gotham-Medium.otf') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Web';
  src: url('../fonts/gotham/Gotham-Bold.otf') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Web';
  src: url('../fonts/gotham/Gotham-BoldIta.otf') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham-Web';
  src: url('../fonts/gotham/Gotham-Black.otf') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Web';
  src: url('../fonts/gotham/Gotham-Ultra.otf') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Web';
  src: url('../fonts/gotham/Gotham-Book.otf') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Web';
  src: url('../fonts/gotham/Gotham-Book.otf') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
    box-sizing: border-box;
  }
  
  :root {
    --display-size: 4.75rem;
    --display-leading: 4.75rem;
    --display-weight: 600;
    --h1-size: 3.75rem;
    --h1-leading: 4.375rem;
    --h1-weight: 300;
    --h2-size: 2rem;
    --h2-leading: 2.5rem; 
    --h3-size: 1.25rem;
    --h3-weight:700;
    --h3-leading: 1.8rem;
    --p-size: 1.25rem;
    --p-leading: 1.8rem;
    --p-weight: 300;
    --text-color: #3D3D3D;
  }
  
  .dark :root {
    --text-color: white;
  }
  
  /* TYPOGRAPHY */
  body {
    font-family: "Gotham-Web", "Montserrat", "Gotham", sans-serif;
    background: #fcf9f6;
    color: black;
  }

  body.dark {
    color: white;
    background: theme('colors.dark.bg')
  }
  
  /* body.dark {
    background: #222222;
    color: white;
  } */
  
  h1, h2, h3, p {
    color: var(--text-color);
    margin-top: 1em;
    margin-bottom: 0.25em;
  }
  
  h1 {
    @apply text-gray-700 dark:text-gray-200;
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    line-height: var(--h1-leading);
  }
  
  h2 {
    @apply text-gray-800 dark:text-gray-100;
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    line-height: var(--h2-leading);
  }
  
  .display {
    @apply dark:text-white;
    font-size: var(--display-size);
    font-weight: var(--display-weight);
    line-height: var(--display-leading);
  }
  
  
  a .display {
    display: inline;
    background-image: linear-gradient(theme("colors.primary.DEFAULT"), theme("colors.primary.DEFAULT"));
    background-size: 100% 2px;
    background-position: -100vw 100%;
    background-repeat: no-repeat;
    transition: background-position 300ms ease-in-out;
  }
  
  a:hover .display {
    background-position: 0 100%;
  }
  
  h3 {
    @apply dark:text-white;
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    line-height: var(--h3-leading);
    letter-spacing: 0.025em;
  }
  
  p {
    @apply dark:text-white;
    font-family: "Raleway", sans-serif;
    font-size: var(--p-size);
    font-weight: var(--p-weight);
    line-height: var(--p-leading);
    margin-bottom: 1em;
    margin-top: 0em;
  }

  p a {

    display: inline-block;
    background: linear-gradient(theme('colors.primary.DEFAULT'), theme('colors.primary.DEFAULT'));
    background-size: 100% 2px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    text-decoration-color: theme('colors.primary.DEFAULT');
    padding-left: 2px;
    padding-right: 2px;
    transition: background-size 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  p a:hover, p a:focus {
    background-size: 100% 100%;
    color: white;
    outline: none;
  }
  
  /* Elements */

  