/* .news .news {
    color: theme("colors.yellow.500")
} */

.negative-header header {
    position: absolute;
    z-index: 999;
    color: white;
}

.negative-header .light-logo {
    display:block !important;
}
.negative-header .dark-logo {
    display:none !important;
}

.negative-header.dark-header header {
    color: black;
}

.negative-header.dark-header .light-logo {
    display: none !important;
}
.negative-header.dark-header .dark-logo {
    display: block !important;
}

ul li a.active {
    color: theme('colors.primary.DEFAULT');
    border-top: 2px solid theme('colors.primary.DEFAULT')
}