.leadership-card {
    height: 400px;
    width: 300px;
    -webkit-backface-visibility: hidden;
}

.leadership-card img {
    height: 325px;
}

#leadership-slider .slick-list {
    overflow: visible;
    margin: 0 -5px;
}

#leadership-slider .slick-slide > div{
    margin: 0 5px;
}

#leadership-slider .slick-slide.slick-active {
    /* opacity: 0; */
    z-index: 1;
}


#leadership-slider .slick-slide:not(.slick-active) {
    opacity: 0;
}

@media (max-width: 1440px) {
    #leadership-slider .slick-active {
        opacity: 1;
    }

    #leadership-slider .slick-slide {
        transition: opacity 0.3s ease;
    }

    #leadership-slider .slick-slide {
        opacity:1 !important;
    }
}

#leadership-slider .slick-active {
    position:relative;
    z-index:10;
}

#leadership-slider .slick-slide.slick-active {
    opacity: 1;
}

#leadership-slider .slick-slide.slick-center {
    position:relative;
    z-index:100;
}
#leadership-slider .slick-slide {
    transition: transform 0.15s ease;
}

#leadership-slider .slick-slide.slick-center {
    transform: scale(1.1);
    z-index:100;
}

#leadership-slider .slick-slide .bio {
    transition: opacity 0.3s ease;
}
/* #leadership-slider .slick-slide.slick-center:hover .opacity-0 {
    opacity:1;
} */

#leadership-slider .slick-prev:before, #leadership-slider .slick-next:before {
    color: theme('colors.gray.400') 
}

#leadership-slider button {
    z-index:1000;
}