.tag-clip {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
}
/* 
.news-card .card-inner {
    transform-origin: bottom;
    opacity: 0;
    transition: opacity 300ms linear, max-height 400ms 200ms ease;
    max-height: 0;
    overflow: hidden;
}

.news-card:hover .card-inner,
.news-card:focus-within .card-inner {
    opacity:1;
    transition: opacity 200ms 200ms linear, max-height 400ms ease;
    max-height: 125px;
} */

.news-card .card-container {
    background: linear-gradient(rgba(3,7,29,0), rgba(3,7,29,0.1) 10%, rgba(3,7,29,0.4) 35%, rgba(3,7,29,0.6) 60%, rgba(3,7,29,0.8));
    color: rgb(3, 7, 29);
}